<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pressword Social Network</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron" style="background:black !important">
    <h1>Pressford</h1>      
  </div>
  <p>Please Log in.</p>      
  <p>You can log in as a reader or a publisher!</p>  
  
  <button type="button" class="btn btn-primary"  onclick="window.location.href='employee'">Employee</button>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-primary" onclick="window.location.href='/'">Publisher</button>    
</div>

</body>
</html>
